@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&display=swap');


*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.aboutus{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.aboutus h1{
    margin-bottom: 60px;
}

.aboutus h3{
    margin-bottom: 20px;
}

.aboutus p{
    margin-bottom: 40px;
}

.subform{
    margin-bottom: 200px;
}

form {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 60px;
}

form h3{
    margin-bottom: 20px;
}
input[type=email]{
    width: 75%;
    padding: 12px;
    border: none;
    box-sizing: border-box;
    resize: vertical;
    background-color: #ECECEC;
    display: inline;
    float: left;
    height: 50px;
  }


  .button{
    width: 25%;
    padding: 4%;
    background-color: black;
    font-size: 16px;
    line-height: 20px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    align-content: center;
    display: inline;
    float: left;
    height: 50px;
  }

@media only screen and (max-width: 420px){
    .aboutus{
        width: 60%;
    }
    form{
        width: 60%;
    }
    input[type=email]{
        width: 100%;
    }

    .button{
        width: 60%;
        margin: 0 auto;
    }

}